<div class="total-wrap-content">
    <div class="template-top-section">
        <div class="bg-image" style="background-image:url('./images/test/top-bg.jpg')"></div>
        <div class="main-wrap-content">
            <div class="template-top-grid anim-block">
                <div class="image-item anim-elem left-visibility">
                    <div class="boy-image">
                        <img src="./images/test/boy.png" alt="boy" class="template-image">
                    </div>
                </div>
                <div class="content-item anim-elem top-visibility">
                    <div class="content-box">
                        <div class="content-box-inner">
                            <p>
                                Открий твоите <br /><strong>#силни страни</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-test-layout anim-block">
        <div class="main-wrap-content anim-elem top delay-03">
            <div class="section-test-layout-box cf">
                <div class="test-col">
                    <div class="section-test-layout-content">
                        <form action="./interview/get_results" method="POST" id="test">
                            <div class="cover-div"></div>
                            <!-- question 1 -->
                            <div class="question active section-test-layout-question images-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Действам</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="1" name="question-1" value="action">
                                            <img src="./images/test/1.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Намирам решение</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="1" name="question-1" value="process">
                                            <img src="./images/test/2.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 2 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="2" name="question-2" value="people">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>„Сговорна дружина планина повдига“</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="2" name="question-2" value="idea">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Често ми светва лампичката</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 3 -->
                            <div class="question section-test-layout-question images-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Мечтател съм</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="3" name="question-3" value="idea">
                                            <img src="./images/test/5.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Общителен съм</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="3" name="question-3" value="people">
                                            <img src="./images/test/6.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 4 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="4" name="question-4" value="process">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Харесва ми, когато срещите са  добре организирани.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="4" name="question-4" value="action">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Винаги спазвам крайните срокове</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 5 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="5" name="question-5" value="action">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>„Не оставям днешната работа за утре“</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="5" name="question-5" value="process">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>„Три пъти мери, един път режи“</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 6 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="6" name="question-6" value="people">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Душата на компанията съм</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="6" name="question-6" value="idea">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Винаги търся нови възможности.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 7 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="7" name="question-7" value="action">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Сам съм си шеф</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="7" name="question-7" value="process">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Обичам да правя всичко от игла до конец</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 8 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="8" name="question-8" value="people">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Грижа ме е за чувствата на другите</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="8" name="question-8" value="idea">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Обичам да провокирам и да наблюдавам реакциите на другите</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 9 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="9" name="question-9" value="action">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>„По дрехите посрещат, а по ума изпращат“</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="9" name="question-9" value="process">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>„Капка по капка вир прави“</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 10 -->
                            <div class="question section-test-layout-question images-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Комуникативен съм</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="10" name="question-10" value="people">
                                            <img src="./images/test/19.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Креативен съм</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="10" name="question-10" value="idea">
                                            <img src="./images/test/20.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 11 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="11" name="question-11" value="idea">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>„Къща без основа не се строи“</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="11" name="question-11" value="people">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>„Другар в нужда се познава“</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 12 -->
                            <div class="question section-test-layout-question images-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Планирам</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="12" name="question-12" value="process">
                                            <img src="./images/test/23.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Действам по същество</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="12" name="question-12" value="action">
                                            <img src="./images/test/24.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 13 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="13" name="question-13" value="process">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Умея да се справям с напрежението.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="13" name="question-13" value="action">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Съвършенството се постига с практика.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 14 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="14" name="question-14" value="people">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Добър слушател съм.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="14" name="question-14" value="idea">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Мисля бързо.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 15 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="15" name="question-15" value="people">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Екипен играч съм.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="15" name="question-15" value="process">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Имам логическо мислене.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 16 -->
                            <div class="question section-test-layout-question images-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Мултитаскинг</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="16" name="question-16" value="action">
                                            <img src="./images/test/31.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Обмислям внимателно</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="16" name="question-16" value="idea">
                                            <img src="./images/test/32.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 17 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="17" name="question-17" value="action">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Скачайки в дълбокото, уча най-добре. </span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="17" name="question-17" value="process">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Логика &gt; Емоции.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 18 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="18" name="question-18" value="people">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Хората са като отворена книга за мен.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="18" name="question-18" value="idea">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Не обичам детайлите.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 19 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="19" name="question-19" value="process">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Първо анализирам, после действам.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="19" name="question-19" value="people">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Умея да водя работни срещи.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 20 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="20" name="question-20" value="idea">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>„И утре е ден“.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="20" name="question-20" value="action">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>„Казана дума, хвърлен камък“. </span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 21 -->
                            <div class="question section-test-layout-question images-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Авантюрист съм.</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="21" name="question-21" value="action">
                                            <img src="./images/test/41.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Изследовател съм</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="21" name="question-21" value="process">
                                            <img src="./images/test/42.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 22 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="22" name="question-22" value="people">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Открит човек съм.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="22" name="question-22" value="idea">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Иновативен съм.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 23 -->
                            <div class="question section-test-layout-question images-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Обичам да чета.</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="23" name="question-23" value="idea">
                                            <img src="./images/test/45.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Решавам проблеми.</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="23" name="question-23" value="people">
                                            <img src="./images/test/46.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 24 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="24" name="question-24" value="process">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Концентриран/а съм.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="24" name="question-24" value="action">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>За мен е важен крайният резултат. </span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 25 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="25" name="question-25" value="people">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Обичам да опознавам хората. </span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="25" name="question-25" value="action">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Обичам разнообразието. </span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 26 -->
                            <div class="question section-test-layout-question images-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Доверявам се на фактите.</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="26" name="question-26" value="process">
                                            <img src="./images/test/51.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Използвам въображението си.</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="26" name="question-26" value="idea">
                                            <img src="./images/test/52.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 27 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="27" name="question-27" value="action">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Губя търпение при бавни процеси.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="27" name="question-27" value="idea">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Имам хиляди мисли в главата си.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 28 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="28" name="question-28" value="process">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Не обичам прибързаните решения.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="28" name="question-28" value="people">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Екипната работа води до прогрес.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 29 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="29" name="question-29" value="action">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Не се замислям два пъти.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="29" name="question-29" value="process">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Не взимам емоционални решения.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 30 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="30" name="question-30" value="people">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Важно ми е да съм харесван.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="30" name="question-30" value="idea">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Правя правилните заключения.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 31 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="31" name="question-31" value="idea">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Търся странично мнение.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="31" name="question-31" value="process">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Следвам определена методология.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 32 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="32" name="question-32" value="action">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span> Обичам да свършвам работата.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="32" name="question-32" value="people">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Добрите взаимоотношения са  важни.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 33 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="33" name="question-33" value="action">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Импулсивен/импулсивна съм.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="33" name="question-33" value="process">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Широкоскроен/а съм.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 34 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="34" name="question-34" value="people">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>„Блага дума железни врати отваря“.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="34" name="question-34" value="idea">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Обичам трудните задачи.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 35 -->
                            <div class="question section-test-layout-question images-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Организиран съм.</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="35" name="question-35" value="process">
                                            <img src="./images/test/69.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Скачам от задача на задача</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="35" name="question-35" value="action">
                                            <img src="./images/test/70.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 36 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="36" name="question-36" value="people">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Комуникирам без проблем с различни хора.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="36" name="question-36" value="idea">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Стремя се към личностно развитие.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 37 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="37" name="question-37" value="idea">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Идеен съм.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="37" name="question-37" value="action">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Не обичам да си губя времето.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 38 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="38" name="question-38" value="process">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>„Обичам да плавам в собствени води“.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="38" name="question-38" value="people">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>За мен е важно да имам добър ментор.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 39 -->
                            <div class="question section-test-layout-question images-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Мисля абстрактно.</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="39" name="question-39" value="idea">
                                            <img src="./images/test/77.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Фокусиран/а съм в детайлите</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="39" name="question-39" value="process">
                                            <img src="./images/test/78.jpg" class="responsive question-item-bckg">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                            <!-- question 40 -->
                            <div class="question section-test-layout-question text-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="40" name="question-40" value="action">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Не обичам разтягането на локуми.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-onlyText">
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="40" name="question-40" value="people">
                                            <span class="only-text-content">
                                                <span class="only-text-content-wrap">
                                                    <span class="checkmark"></span>
                                                    <span class="question-item-txt"><span>Вярвам в себе си.</span></span>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.question-->
                        </form>
                        <p id="errorTest" class="error-field red"></p>
                    </div>
                </div>
                <!-- /.col-->
            </div>
        </div>
    </section>
    <div class="templete-bottom-section">
        <div class="bg-image" style="background-image:url('./images/test/bottom-bg.jpg')"></div>
    </div>
</div>