# Version format
version: 1.0.{build}

# Build worker image
image: Visual Studio 2017

# Build platform
platform: Any CPU

# Build Configuration
configuration: Debug

# MSBuild settings
build:
  project: backend\services\YngStrs.PersonalityTests.Api\YngStrs.PersonalityTests.Api.sln
  verbosity: quiet
  
# Execute script before build
before_build:
 - nuget restore backend\services\YngStrs.PersonalityTests.Api\YngStrs.PersonalityTests.Api.sln