<div class="total-wrap-content">

    @await Html.PartialAsync("_TemplateTopSectionWithBoyPartial")

    <section class="test-result-section">
        <div class="bg-image" style="background-image:url('../../images/test/test-result-image.jpg')"></div>
        <div class="section-box">
            <div class="intro-test-txt center anim-block parallax-elem" data-move="y" data-val="-150" style="transform: translate3d(0px, -16.0447px, 0px);">
                <div class="intro-test-txt-box white-box center anim-elem top done">

                    <div class="wrap-txt">
                        <div class="result-title-wrap">
                            <div class="addition-txt-box">
                                <span class="p-huge lightGrey addition-txt">Резултат</span>
                            </div>
                            <h3 class="title-big black">Справи се страхотно!</h3>
                        </div>
                        <p class="p-mid-s">Ако искаш да получиш резултатите си и те автоматично да бъдат насочени към HR отдел, попълни формата по-долу. </p>
                        <div class="wrapper login-section">
                            <form action="./interview/save_results" method="POST" id="get-results-email" class="test-form">
                                // TODO
                                <div class="form-row required">
                                    <label for="name" class="label-form-fld">Име</label>
                                    <input type="text" class="form-fld" id="name" name="name">
                                    <div class="border-bottom"></div>
                                    <div class="tooltip-div"></div>
                                </div>
                                <div class="form-row required">
                                    <label for="email" class="label-form-fld">E-mail</label>
                                    <input type="text" class="form-fld" id="email" name="email">
                                    <div class="border-bottom"></div>
                                    <div class="tooltip-div"></div>
                                </div>
                                <div class="form-row row-checkbox">
                                    <input type="checkbox" value="1" class="form-fld" id="agree_terms" name="agree_terms">
                                    <label for="agree_terms" class="label-form-fld">Съгласен съм с <a href="/git/soge_young/terms-and-conditions" class="conditions-link" target="_blank">General terms and Conditions</a></label>
                                    <div class="tooltip-div"></div>
                                </div>
                                <div class="form-row btn-row">
                                    <button class="submit-btn" type="submit" id="submit-email-btn">Получи резултата си!</button>
                                </div>
                            </form>
                        </div>
                        <div class="success-msg">
                            <span class="success-text">
                                Изпратен е email с резултатите!
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="result-position-section anim-block">
        <div class="result-position-section-wrap">
            <div class="result-position-text-wrap anim-elem top done">
            </div>
            <div class="advice-slider-container anim-elem top done">
                <div class="advice-slider swiper-container slider-swipper swiper-container-horizontal swiper-container-wp8-horizontal" data-items="3" data-items-laptop="2" data-items-mobile="1">
                    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                        <div class="advice-slide swiper-slide active" style="width: 556px;">
                            <div class="addition-txt-box">
                                <span class="p-huge lightGrey addition-txt">ПРОЧЕТИ</span>
                            </div>
                            <div class="advice-slide-inner">
                                <div class="advice-slide-content">
                                    <div class="advice-slide-content-text">
                                        <p>
                                            Ангели на <strong class="red">иновациите <br></strong>
                                        </p>
                                        <a href="/git/soge_young/articles/angeli-na-inovatsiite" class="abs-item-link"></a>
                                    </div>
                                    <div class="item-btn-wrap">
                                        <a href="/git/soge_young/articles/angeli-na-inovatsiite" class="wave-btn">
                                            <span class="wave-btn-text">КЪМ СТАТИЯТА</span>
                                            <span class="wave"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="advice-slide swiper-slide swiper-slide-next" style="width: 556px;">
                            <div class="addition-txt-box">
                                <span class="p-huge lightGrey addition-txt">ПРОЧЕТИ</span>
                            </div>
                            <div class="advice-slide-inner">
                                <div class="advice-slide-content">
                                    <div class="advice-slide-content-text">
                                        <p>
                                            <strong class="red"><strong>Банка ДСК и Експресбанк</strong> </strong>с най-голямата клонова мрежа в страната
                                        </p>
                                        <a href="/git/soge_young/articles/banka-dsk-i-ekspresbank-s-nay-golyamata-klonova-mreja-v-stranata" class="abs-item-link"></a>
                                    </div>
                                    <div class="item-btn-wrap">
                                        <a href="/git/soge_young/articles/banka-dsk-i-ekspresbank-s-nay-golyamata-klonova-mreja-v-stranata" class="wave-btn">
                                            <span class="wave-btn-text">КЪМ СТАТИЯТА</span>
                                            <span class="wave"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="advice-slide swiper-slide" style="width: 556px;">
                            <div class="addition-txt-box">
                                <span class="p-huge lightGrey addition-txt">ПРОЧЕТИ</span>
                            </div>
                            <div class="advice-slide-inner">
                                <div class="advice-slide-content">
                                    <div class="advice-slide-content-text">
                                        <p>
                                            Проектът <strong class="red">#YOUNGstars стартира</strong>
                                        </p>
                                        <a href="/git/soge_young/articles/angelite-na-inovatsiite" class="abs-item-link"></a>
                                    </div>
                                    <div class="item-btn-wrap">
                                        <a href="/git/soge_young/articles/angelite-na-inovatsiite" class="wave-btn">
                                            <span class="wave-btn-text">КЪМ СТАТИЯТА</span>
                                            <span class="wave"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination advice-slider-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>

                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_TemplateBgBottomSectionPartial")
</div>