@{
    ViewData["Title"] = "Personality test";
}

<div class="total-wrap-content">
    
    @await Html.PartialAsync("_TemplateTopSectionPartial")

    <section class="section-init-test anim-block">
        <div class="bg-image" style="background-image: url('./images/test/what-is-your-sphere-of-development-2.jpg')"></div>
        <div class="section-box center parallax-elem" data-val="-150" data-move="y">
            <div class="section-init-test-box anim-elem top">
                <div class="section-init-test-txt">
                    <h2 class="title-big white">Какво те прави <strong>#различен?</strong></h2>
                    <p class="p-big white regular">Открий кои са твоите силни страни и какви позиции са подходящи за теб.</p>
                    <div class="btn-box">
                        <a asp-controller="PersonalityTest" asp-action="Start" class="btn-mid btn-red ">ЗАПОЧНИ ТЕСТА</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    @await Html.PartialAsync("_TemplateBottomSectionPartial")
</div>