@model PersonalityTestViewModel

@{
    ViewData["Title"] = "Personality test start";
}

<div class="total-wrap-content">

    <div class="template-top-section">
        <div class="bg-image" style="background-image: url('../../images/test/top-bg.jpg')"></div>
        <div class="main-wrap-content">
            <div class="template-top-grid anim-block">
                <div class="image-item anim-elem left-visibility">
                    <div class="boy-image">
                        <img src="~/images/test/boy.png" alt="boy" class="template-image">
                    </div>
                </div>
                <div class="content-item anim-elem top-visibility">
                    <div class="content-box">
                        <div class="content-box-inner">
                            <p>
                                Открий твоите <br /><strong>#силни страни</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section-test-layout anim-block">
        <div class="main-wrap-content anim-elem top delay-03">
            <div class="section-test-layout-box cf">
                <div class="test-col">
                    <div class="section-test-layout-content">
                        
                        <form action="Form" method="POST" id="test">
                            <div class="cover-div"></div>

                            @await Html.PartialAsync("_ActiveQuestionSectionPartial")

                            @foreach (var question in Model.AllButFirstQuestions)
                            {
                                if (question.Options.First().IsTextOnly)
                                {
                                    @await Html.PartialAsync("_TextQuestionSectionPartial", question)
                                }
                                else
                                {
                                    @await Html.PartialAsync("_ImageQuestionSectionPartial", question)
                                }
                            }
                        </form>

                    </div>
                </div>
                <!-- /.col-->
            </div>
        </div>
    </section>
    
    

    <div class="templete-bottom-section">
        <div class="bg-image" style="background-image: url('../../images/test/bottom-bg.jpg')"></div>
    </div>

</div>