@{
    ViewData["Title"] = "Articles";
}

<div class="total-wrap-content">
    <div class="news-list-top-section">
        <div class="career-intro-section anim-block">
            <div class="bg-image" style="background-image:url('./images/career/intro-bg.jpg')"></div>
            <div class="career-main-wrap">
                <div class="intro-box anim-elem top-visibility">
                    <div class="intro-box-wrap">
                        <div class="intro-box-title-wrap">
                            <h1 class="intro-title"><strong>#</strong>НещоПолезно</h1>
                        </div>
                        <p class="p-small">
                            Открий полезна информация за твоята кариера
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="news-list-section">
        <div class="news-item anim-block">
            <a href="./articles/banka-dsk-i-ekspresbank-s-nay-golyamata-klonova-mreja-v-stranata" class="news-item-box cf flex">
                <div class="col col-d-50 col-t-50 col-m-100 news-image-box anim-elem top">
                    <img src="http://demo.x.bg./attachments/Article/6/main/banker_thumb-list.jpg" alt="  Банка ДСК и Експресбанк   с най-голямата клонова мрежа в страната">
                </div>
                <div class="col col-d-50 col-t-50 col-m-100 news-item-txt-box anim-elem	bottom">
                    <div class="news-item-txt white-box center transparent">
                        <div class="addition-txt-box">
                            <span class="p-huge darkGrey addition-txt">Прочети</span>
                        </div>
                        <div class="wrap-txt">
                            <h3 class="p-large medium black"><strong class="red"><strong>Банка ДСК и Експресбанк</strong> </strong>с най-голямата клонова мрежа в страната</h3>
                            <div class="item-btn-wrap">
                                <span class="wave-btn">
                                    <span class="wave-btn-text">КЪМ СТАТИЯТА</span>
                                    <span class="wave"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="news-item anim-block">
            <a href="./articles/angelite-na-inovatsiite" class="news-item-box cf flex">
                <div class="col col-d-50 col-t-50 col-m-100 news-image-box anim-elem top">
                    <img src="http://demo.x.bg./attachments/Article/2/main/login-step1_thumb-list.jpg" alt="Проектът  #YOUNGstars стартира ">
                </div>
                <div class="col col-d-50 col-t-50 col-m-100 news-item-txt-box anim-elem	bottom">
                    <div class="news-item-txt white-box center transparent">
                        <div class="addition-txt-box">
                            <span class="p-huge darkGrey addition-txt">Прочети</span>
                        </div>
                        <div class="wrap-txt">
                            <h3 class="p-large medium black">Проектът <strong class="red">#YOUNGstars стартира</strong></h3>
                            <div class="item-btn-wrap">
                                <span class="wave-btn">
                                    <span class="wave-btn-text">КЪМ СТАТИЯТА</span>
                                    <span class="wave"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="news-item anim-block">
            <a href="./articles/angeli-na-inovatsiite" class="news-item-box cf flex">
                <div class="col col-d-50 col-t-50 col-m-100 news-image-box anim-elem top">
                    <img src="http://demo.x.bg./attachments/Article/1/main/login-step1_thumb-list.jpg" alt="Ангели на  иновациите   ">
                </div>
                <div class="col col-d-50 col-t-50 col-m-100 news-item-txt-box anim-elem	bottom">
                    <div class="news-item-txt white-box center transparent">
                        <div class="addition-txt-box">
                            <span class="p-huge darkGrey addition-txt">Прочети</span>
                        </div>
                        <div class="wrap-txt">
                            <h3 class="p-large medium black">Ангели на <strong class="red">иновациите <br /></strong></h3>
                            <div class="item-btn-wrap">
                                <span class="wave-btn">
                                    <span class="wave-btn-text">КЪМ СТАТИЯТА</span>
                                    <span class="wave"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>

</div>