<section class="about-us-txt-section cl anim-block">
    <div class="about-us-txt-section-inner anim-elem">
        <div class="about-us-col col col-d-50 col-t-100 col-m-100 anim-elem top">
            <div class="about-us-txt-box center">
                <div class="wrap-txt">
                    <h3 class="title-big black"><strong>#</strong><strong class="red">Инициативата</strong></h3>
                    <p class="p-small">
                        Проектът #YOUNGstars стартира като идея на група ентусиасти по време на състезанието Open Innovation camp. Те имаха една основна цел &ndash;да намерят решение, което ще помогне на младите хора в България да се реализират успешно.
                    </p>
                </div>
            </div>
        </div>
        <div class="about-us-col col col-d-50 col-t-100 col-m-100 cl anim-elem top">
            <div class="about-us-txt-box center">
                <div class="wrap-txt">
                    <h3 class="title-big black"><strong>#</strong><strong class="red">Решението</strong></h3>
                    <p class="p-small">
                        Спомняйки си несигурността по време на първото си интервю за работа, нашите колеги разработиха чат бот, който ти помага да се упражняваш за реална среща с работодател. Те използваха също личностен тест, който разкрива твоите силни страни и те насочва какви позиции са най-подходящи за теб.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>