<section class="about-us-robot-section cl  anim-block">
    <div class="about-us-col">
        <div class="about-us-txt-box center wider">
            <div class="wrap-txt anim-elem top">
                <h3 class="title-big black"><strong>#Защото знаем, че успехът е 10 % талант и</strong><strong class="red"> 90 % практика </strong></h3>
                <p class="p-small">
                    Стартирайте кариерата си смело, #YOUNGstars!
                </p>
            </div>
        </div>
    </div>
    <div class="robot-container">
        <div class="robot-image anim-elem right">
            <img src="~/images/about-us/robot.png" alt="robot" class="template-image anim-elem top">
        </div>
        <div class="robot-image-mobile">
            <img src="~/images/home/robot.png" alt="robot" class="template-image">
        </div>
    </div>
</section>