<section class="abous-us-intro-section anim-block">
    <div class="section-box center anim-elem top-visibility">
        <div class="about-us-intro-section-box white-box center">
            <div class="addition-txt-box">
                <span class="p-huge lightGrey addition-txt">МИСИЯ</span>
            </div>
            <div class="wrap-txt">
                <h3 class="title-big black"><strong>#</strong>За <strong class="red">нас</strong></h3>
                <p class="p-small">
                    В Експресбанк ние помагаме <strong>над 500 000 клиенти</strong> да осъществят своите финансови планове като се стремим да им предоставяме гъвкави, достъпни и качествени продукти и услуги. За да изпълним тази мисия, ние разчитаме на нашите <strong>над 1500 служители</strong>, ценим индивидуалния принос на всеки един и <strong>инвестираме в развитието на хората</strong>.
                </p>
            </div>
        </div>
    </div>
    <div class="mobile-only intro-test-section-mob-img">
        <img class="responsive b-lazy"
             data-src-small="~/images/about-us/about-us-mobile.jpg"
             data-src-mid="~/images/about-us/about-us-tablet.jpg"
             data-src-big="~/images/about-us/about-us.jpg"
             data-src="~/images/about-us/about-us.jpg"
             src="~/images/home/desktop-hidden-image.jpg" alt="About us image">
    </div>
</section>