<section class="section">
    <div class="intro-test-section fh anim-block">
        <div class="section-box">
            <div class="intro-test-txt center">
                <div class="intro-test-txt-box white-box center anim-elem top-visibility">
                    <div class="addition-txt-box">
                        <span class="p-huge lightGrey addition-txt">РАЗБЕРИ</span>
                    </div>
                    <div class="wrap-txt">
                        <h3 class="title-big black">КАКВО ТЕ ПРАВИ <strong class="red">#РАЗЛИЧЕН</strong>?</h3>
                        <p class="p-small">
                            Открий твоите силни страни и ще получиш ориентация какви позиции са най-подходящи за теб.
                        </p>
                        <div class="curve-box">
                            <a asp-controller="PersonalityTest" asp-action="Index" class="btn-big btn-gray">Направи теста</a>
                        </div>
                    </div>
                </div>
                <div class="image-item anim-elem left-100">
                    <div class="boy-image">
                        <img src="./images/home/boy.png" alt="boy" class="template-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="page-navigation dark anim-block">
            <a href="#home" class="line anim-elem left"><span class="page-slide">1</span></a>
            <a href="#test" class="line active anim-elem left"><span class="page-slide">2</span></a>
            <a href="#help" class="line anim-elem left"><span class="page-slide">3</span></a>
            <a href="#advice" class="line anim-elem left"><span class="page-slide">4</span></a>
        </div>
    </div>
</section>