<section class="section">
    <div class="advice-section fh anim-block">
        <div class="mobile-only advice-section-mob-img">
            <img class="responsive b-lazy" data-src-small="./images/home/advice-mobile-img.jpg" data-src-mid="./images/home/advice-tablet-img.jpg" data-src-big="./images/home/advice-tablet-img.jpg" src="./images/home/desktop-hidden-image.jpg" alt="Try our test image">
        </div>
        <div class="section-box">
            <div class="advice-title-wrap anim-elem top">
                <h3 class="title-big white">
                    <strong>#</strong>Съвети за <strong>интервю</strong>
                </h3>
            </div>
            <div class="advice-slider-container anim-elem top">
                <div class="advice-slider swiper-container slider-swipper" data-items="3" data-items-laptop="2" data-items-mobile="1">
                    <div class="swiper-wrapper">
                        <div class="advice-slide swiper-slide">
                            <div class="addition-txt-box">
                                <span class="p-huge lightGrey addition-txt">ПРОЧЕТИ</span>
                            </div>
                            <div class="advice-slide-inner">
                                <div class="advice-slide-content">
                                    <div class="advice-slide-content-text">
                                        <p>
                                            Ангели на <strong class="red">иновациите <br /></strong>
                                        </p>
                                        <a href="./articles/angeli-na-inovatsiite" class="abs-item-link"></a>
                                    </div>
                                    <div class="item-btn-wrap">
                                        <a href="./articles/angeli-na-inovatsiite" class="wave-btn">
                                            <span class="wave-btn-text">КЪМ СТАТИЯТА</span>
                                            <span class="wave"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="advice-slide swiper-slide">
                            <div class="addition-txt-box">
                                <span class="p-huge lightGrey addition-txt">ПРОЧЕТИ</span>
                            </div>
                            <div class="advice-slide-inner">
                                <div class="advice-slide-content">
                                    <div class="advice-slide-content-text">
                                        <p>
                                            <strong class="red"><strong>Банка ДСК и Експресбанк</strong> </strong>с най-голямата клонова мрежа в страната
                                        </p>
                                        <a href="./articles/banka-dsk-i-ekspresbank-s-nay-golyamata-klonova-mreja-v-stranata" class="abs-item-link"></a>
                                    </div>
                                    <div class="item-btn-wrap">
                                        <a href="./articles/banka-dsk-i-ekspresbank-s-nay-golyamata-klonova-mreja-v-stranata" class="wave-btn">
                                            <span class="wave-btn-text">КЪМ СТАТИЯТА</span>
                                            <span class="wave"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="advice-slide swiper-slide">
                            <div class="addition-txt-box">
                                <span class="p-huge lightGrey addition-txt">ПРОЧЕТИ</span>
                            </div>
                            <div class="advice-slide-inner">
                                <div class="advice-slide-content">
                                    <div class="advice-slide-content-text">
                                        <p>
                                            Проектът <strong class="red">#YOUNGstars стартира</strong>
                                        </p>
                                        <a href="./articles/angelite-na-inovatsiite" class="abs-item-link"></a>
                                    </div>
                                    <div class="item-btn-wrap">
                                        <a href="./articles/angelite-na-inovatsiite" class="wave-btn">
                                            <span class="wave-btn-text">КЪМ СТАТИЯТА</span>
                                            <span class="wave"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination advice-slider-pagination"></div>
                </div>
            </div>
        </div>
        <div class="page-navigation anim-block">
            <a href="#home" class="line anim-elem left"><span class="page-slide">1</span></a>
            <a href="#test" class="line anim-elem left"><span class="page-slide">2</span></a>
            <a href="#help" class="line anim-elem left"><span class="page-slide">3</span></a>
            <a href="#advice" class="line active anim-elem left"><span class="page-slide">4</span></a>
        </div>
    </div>
</section>