<section class="section">
    <div class="chat-bot-section fh anim-block">
        <div class="section-box">
            <div class="intro-test-txt center">
                <div class="image-item anim-elem top">
                    <div class="robot-image">
                        <img src="./images/home/robot.png" alt="robot" class="template-image">
                    </div>
                </div>
                <div class="intro-test-txt-box white-box center anim-elem top delay-02">
                    <div class="addition-txt-box">
                        <span class="p-huge lightGrey addition-txt">ПИШИ МИ</span>
                    </div>
                    <div class="wrap-txt">
                        <h3 class="title-big black">Правил ли си #интервю с <strong class="red"> чат бот</strong>?</h3>
                        <p class="p-small">
                            Запознай се с #ROBOstar и направи интервю за работа, докато си чатиш. Така ще си добре подготвен за реална среща с работодател
                        </p>
                        <div class="curve-box">
                            <a asp-controller="Chatbot" asp-action="Index" class="btn-big btn-gray">Започни интервюто</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-navigation dark anim-block">
            <a href="#home" class="line anim-elem left"><span class="page-slide">1</span></a>
            <a href="test" class="line anim-elem left"><span class="page-slide">2</span></a>
            <a href="#help" class="line active anim-elem left"><span class="page-slide">3</span></a>
            <a href="#advice" class="line anim-elem left"><span class="page-slide">4</span></a>
        </div>
    </div>
</section>