<section class="section active">
    <div class="intro-section fh anim-block">
        <div class="section-box">
            <div class="intro-txt center">
                <div class="intro-title-wrap">
                    <h2 class="title-large white anim-elem top-100">
                        ТИ си любопитен и различен? Срещни се с чат бот футуристичен. Стартирай кариерата си смело!
                    </h2>
                </div>
                <p class="p-big white regular anim-elem top delay-02">
                    # YoungSTARS е твоят пътеводител към успех в кариерата! Ще откриеш своите силни страни и ще се подготвиш за своето първо интервю за работа.
                </p>
                <div class="btn-box anim-elem top delay-02">
                    <a href="chatbot" class="btn-big btn-red ">Научи повече</a>
                </div>
            </div>
            <div class="scroll-down-container anim-elem top delay-02">
                <a href="#test" class="scroll-down-btn" id="scroll-down-btn">
                    <span class="scroll-down-image">
                        <img src="./images/icons/scroll-down.svg" alt="icon" class="template-image">
                    </span>
                </a>
            </div>
        </div>
        <div class="page-navigation">
            <a href="#home" class="line active anim-elem left"><span class="page-slide">1</span></a>
            <a href="#test" class="line anim-elem left"><span class="page-slide">2</span></a>
            <a href="#help" class="line anim-elem left"><span class="page-slide">3</span></a>
            <a href="#advice" class="line anim-elem left"><span class="page-slide">4</span></a>
        </div>
        <div class="social-links-top-container anim-elem bottom">
            <div class="social-item">
                <a href="https://facebook.com" class="top-social-link">
                    <span class="social-image-container fb">
                        <img src="./images/icons/social/top-fb.svg" alt="icon" class="social-image">
                        <img src="./images/icons/social/top-fb-hover.svg" alt="icon" class="social-image-hover">
                    </span>
                </a>
            </div>
            <div class="social-item">
                <a href="https://instagram.com" class="top-social-link">
                    <span class="social-image-container instagram">
                        <img src="./images/icons/social/top-instagram.svg" alt="icon" class="social-image">
                        <img src="./images/icons/social/top-instagram-hover.svg" alt="icon" class="social-image-hover">
                    </span>
                </a>
            </div>
            <div class="social-item">
                <a href="https://twitter.com" class="top-social-link">
                    <span class="social-image-container twitter">
                        <img src="./images/icons/social/top-twitter.svg" alt="icon" class="social-image">
                        <img src="./images/icons/social/top-twitter-hover.svg" alt="icon" class="social-image-hover">
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>