@{
    ViewData["Title"] = "About Us";
}


<div class="total-wrap-content">
    
    @await Html.PartialAsync("_AbousUsIntroSectionPartial")

    @await Html.PartialAsync("_AboutUsTxtSectionPartial")
    
    @await Html.PartialAsync("_AboutUsListSectionPartial")
    
    @await Html.PartialAsync("_AboutUsRobotSectionPartial")
    
    @await Html.PartialAsync("_TemplateBgBottomSectionPartial")

</div>