@{
    ViewData["Title"] = "Контакти";
}

<div class="total-wrap-content">
    <section class="contact-header-section section-header anim-block">
        <div class="bg-image parallax-elem" data-move="y" data-val="100" style="background-image:url('../../images/contact/intro-bg.jpg')"></div>
        <div class="section-header-box center">
            <div class="section-header-txt">
                <div class="title-box-wrap parallax-elem" data-move="y" data-val="-100">
                    <h3 class="title-big white anim-elem top-100">Свържете се с нас</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-txt-section anim-block">
        <div class="contact-txt-section-box">
            <div class="contact-txt center anim-elem top">
                <p class="p-small">
                    Ако имаш въпрос, свързан с приложението, възможностите за кариера в <strong><a href="http://www.sgeb.bg/" target="_blank" rel="noopener">Експресбанк</a></strong><br /> или искаш да се запознаеш с някой от екип HR, звънни на горещия ни телефон <strong><a href="tel:+35952686262">052&nbsp;686&nbsp;262</a></strong>, или ни пиши на мейл: <strong><a class="underline" href="mailto:geb.jobs@socgen.com">sgeb.jobs@socgen.com</a></strong>
                </p>
            </div>
            <div class="contact-info">

                <div class="contact-info-col col col-d-26 col-t-100 col-m-100 anim-elem top">
                    <img src="~/images/contact/email.svg" alt="Email image" class="contact-info-img">
                    <p>
                        <strong>Email</strong>
                        <a href="mailto:sgeb.jobs@socgen.com">sgeb.jobs@socgen.com</a>
                    </p>
                </div>
                <div class="contact-info-col col col-d-37 col-t-100 col-m-100 anim-elem top">
                    <img src="~/images/contact/address.svg" alt="Adress image" class="contact-info-img">
                    <p>
                        <strong>Централно управление</strong>
                    </p>
                </div>
                <div class="contact-info-col col col-d-37 col-t-100 col-m-100 anim-elem top">
                    <img src="~/images/contact/info.svg" alt="Adress image" class="contact-info-img">
                    <p>
                        <strong>Информационен център</strong>
                        <a href="tel:+35952686262" target="_blank" rel="noopener">тел: 052&nbsp;686&nbsp;262</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>