@{
    ViewData["Title"] = "#Home";
}

<div id="fullpage">
    
    @await Html.PartialAsync("_HomeIntroSerctionPartial")
    
    @await Html.PartialAsync("_HomeIntroTestSectionPartial")
    
    @await Html.PartialAsync("_HomeIntroChatBotSectionPartial")
    
    @await Html.PartialAsync("_HomeAdviceSectionPartial")

</div>