@{
    ViewData["Title"] = "Home Page";
}

<div id="fullpage">

    <section class="section active">
        <div class="intro-section fh anim-block">
            <div class="section-box">
                <div class="intro-txt center">
                    <div class="intro-title-wrap">
                        <h2 class="title-large white anim-elem top-100">
                            ТИ си любопитен и различен? Срещни се с чат бот футуристичен. Стартирай кариерата си смело!
                        </h2>
                    </div>
                    <p class="p-big white regular anim-elem top delay-02">
                        # YoungSTARS е твоят пътеводител към успех в кариерата! Ще откриеш своите силни страни и ще се подготвиш за своето първо интервю за работа.
                    </p>
                    <div class="btn-box anim-elem top delay-02">
                        <a href="chatbot" class="btn-big btn-red ">Научи повече</a>
                    </div>
                </div>
                <div class="scroll-down-container anim-elem top delay-02">
                    <a href="#test" class="scroll-down-btn" id="scroll-down-btn">
                        <span class="scroll-down-image">
                            <img src="./images/icons/scroll-down.svg" alt="icon" class="template-image">
                        </span>
                    </a>
                </div>
            </div>
            <div class="page-navigation">
                <a href="#home" class="line active anim-elem left"><span class="page-slide">1</span></a>
                <a href="#test" class="line anim-elem left"><span class="page-slide">2</span></a>
                <a href="#help" class="line anim-elem left"><span class="page-slide">3</span></a>
                <a href="#advice" class="line anim-elem left"><span class="page-slide">4</span></a>
            </div>
            <div class="social-links-top-container anim-elem bottom">
                <div class="social-item">
                    <a href="https://facebook.com" class="top-social-link">
                        <span class="social-image-container fb">
                            <img src="./images/icons/social/top-fb.svg" alt="icon" class="social-image">
                            <img src="./images/icons/social/top-fb-hover.svg" alt="icon" class="social-image-hover">
                        </span>
                    </a>
                </div>
                <div class="social-item">
                    <a href="https://instagram.com" class="top-social-link">
                        <span class="social-image-container instagram">
                            <img src="./images/icons/social/top-instagram.svg" alt="icon" class="social-image">
                            <img src="./images/icons/social/top-instagram-hover.svg" alt="icon" class="social-image-hover">
                        </span>
                    </a>
                </div>
                <div class="social-item">
                    <a href="https://twitter.com" class="top-social-link">
                        <span class="social-image-container twitter">
                            <img src="./images/icons/social/top-twitter.svg" alt="icon" class="social-image">
                            <img src="./images/icons/social/top-twitter-hover.svg" alt="icon" class="social-image-hover">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="intro-test-section fh anim-block">
            <div class="section-box">
                <div class="intro-test-txt center">
                    <div class="intro-test-txt-box white-box center anim-elem top-visibility">
                        <div class="addition-txt-box">
                            <span class="p-huge lightGrey addition-txt">РАЗБЕРИ</span>
                        </div>
                        <div class="wrap-txt">
                            <h3 class="title-big black">КАКВО ТЕ ПРАВИ <strong class="red">#РАЗЛИЧЕН</strong>?</h3>
                            <p class="p-small">
                                Открий твоите силни страни и ще получиш ориентация какви позиции са най-подходящи за теб.
                            </p>
                            <div class="curve-box">
                                <a href="personality-test" class="btn-big btn-gray">Направи теста</a>
                            </div>
                        </div>
                    </div>
                    <div class="image-item anim-elem left-100">
                        <div class="boy-image">
                            <img src="./images/home/boy.png" alt="boy" class="template-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-navigation dark anim-block">
                <a href="#home" class="line anim-elem left"><span class="page-slide">1</span></a>
                <a href="#test" class="line active anim-elem left"><span class="page-slide">2</span></a>
                <a href="#help" class="line anim-elem left"><span class="page-slide">3</span></a>
                <a href="#advice" class="line anim-elem left"><span class="page-slide">4</span></a>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="chat-bot-section fh anim-block">
            <div class="section-box">
                <div class="intro-test-txt center">
                    <div class="image-item anim-elem top">
                        <div class="robot-image">
                            <img src="./images/home/robot.png" alt="robot" class="template-image">
                        </div>
                    </div>
                    <div class="intro-test-txt-box white-box center anim-elem top delay-02">
                        <div class="addition-txt-box">
                            <span class="p-huge lightGrey addition-txt">ПИШИ МИ</span>
                        </div>
                        <div class="wrap-txt">
                            <h3 class="title-big black">Правил ли си #интервю с <strong class="red"> чат бот</strong>?</h3>
                            <p class="p-small">
                                Запознай се с #ROBOstar и направи интервю за работа, докато си чатиш. Така ще си добре подготвен за реална среща с работодател
                            </p>
                            <div class="curve-box">
                                <a href="chatbot" class="btn-big btn-gray">Започни интервюто</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-navigation dark anim-block">
                <a href="#home" class="line anim-elem left"><span class="page-slide">1</span></a>
                <a href="test" class="line anim-elem left"><span class="page-slide">2</span></a>
                <a href="#help" class="line active anim-elem left"><span class="page-slide">3</span></a>
                <a href="#advice" class="line anim-elem left"><span class="page-slide">4</span></a>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="advice-section fh anim-block">
            <div class="mobile-only advice-section-mob-img">
                <img class="responsive b-lazy" data-src-small="./images/home/advice-mobile-img.jpg" data-src-mid="./images/home/advice-tablet-img.jpg" data-src-big="./images/home/advice-tablet-img.jpg" src="./images/home/desktop-hidden-image.jpg" alt="Try our test image">
            </div>
            <div class="section-box">
                <div class="advice-title-wrap anim-elem top">
                    <h3 class="title-big white">
                        <strong>#</strong>Съвети за <strong>интервю</strong>
                    </h3>
                </div>
                <div class="advice-slider-container anim-elem top">
                    <div class="advice-slider swiper-container slider-swipper" data-items="3" data-items-laptop="2" data-items-mobile="1">
                        <div class="swiper-wrapper">
                            <div class="advice-slide swiper-slide">
                                <div class="addition-txt-box">
                                    <span class="p-huge lightGrey addition-txt">ПРОЧЕТИ</span>
                                </div>
                                <div class="advice-slide-inner">
                                    <div class="advice-slide-content">
                                        <div class="advice-slide-content-text">
                                            <p>
                                                Ангели на <strong class="red">иновациите <br /></strong>
                                            </p>
                                            <a href="./articles/angeli-na-inovatsiite" class="abs-item-link"></a>
                                        </div>
                                        <div class="item-btn-wrap">
                                            <a href="./articles/angeli-na-inovatsiite" class="wave-btn">
                                                <span class="wave-btn-text">КЪМ СТАТИЯТА</span>
                                                <span class="wave"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="advice-slide swiper-slide">
                                <div class="addition-txt-box">
                                    <span class="p-huge lightGrey addition-txt">ПРОЧЕТИ</span>
                                </div>
                                <div class="advice-slide-inner">
                                    <div class="advice-slide-content">
                                        <div class="advice-slide-content-text">
                                            <p>
                                                <strong class="red"><strong>Банка ДСК и Експресбанк</strong> </strong>с най-голямата клонова мрежа в страната
                                            </p>
                                            <a href="./articles/banka-dsk-i-ekspresbank-s-nay-golyamata-klonova-mreja-v-stranata" class="abs-item-link"></a>
                                        </div>
                                        <div class="item-btn-wrap">
                                            <a href="./articles/banka-dsk-i-ekspresbank-s-nay-golyamata-klonova-mreja-v-stranata" class="wave-btn">
                                                <span class="wave-btn-text">КЪМ СТАТИЯТА</span>
                                                <span class="wave"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="advice-slide swiper-slide">
                                <div class="addition-txt-box">
                                    <span class="p-huge lightGrey addition-txt">ПРОЧЕТИ</span>
                                </div>
                                <div class="advice-slide-inner">
                                    <div class="advice-slide-content">
                                        <div class="advice-slide-content-text">
                                            <p>
                                                Проектът <strong class="red">#YOUNGstars стартира</strong>
                                            </p>
                                            <a href="./articles/angelite-na-inovatsiite" class="abs-item-link"></a>
                                        </div>
                                        <div class="item-btn-wrap">
                                            <a href="./articles/angelite-na-inovatsiite" class="wave-btn">
                                                <span class="wave-btn-text">КЪМ СТАТИЯТА</span>
                                                <span class="wave"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination advice-slider-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="page-navigation anim-block">
                <a href="#home" class="line anim-elem left"><span class="page-slide">1</span></a>
                <a href="#test" class="line anim-elem left"><span class="page-slide">2</span></a>
                <a href="#help" class="line anim-elem left"><span class="page-slide">3</span></a>
                <a href="#advice" class="line active anim-elem left"><span class="page-slide">4</span></a>
            </div>
        </div>
    </section>

</div>