<div class="total-wrap-content">
    <div class="career-intro-section anim-block">
        <div class="bg-image" style="background-image:url('./images/career/intro-bg.jpg')"></div>
        <div class="career-main-wrap">
            <div class="intro-box anim-elem top-visibility">
                <div class="intro-box-wrap">
                    <div class="intro-box-title-wrap">
                        <h1 class="intro-title">Стартирай кариерата си #смело</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JOBS CATEGORIES-->
    <div class="career-categories-section">
        <div class="career-categories-top anim-block" id="career-categories-top">
            <div class="career-main-wrap">
                <div class="categories-title-wrap anim-elem top">
                    <h4 class="categories-title">
                        Виж кариерните <strong>#възможности</strong> в Societe Generale Expressbank
                    </h4>
                    <h6 class="categories-sub-title">Разгледай категориите.</h6>
                </div>
                <div class="categories-grid">
                    <div class="categories-image-item anim-elem top">
                        <div class="categories-robot">
                            <img src="~/images/career/robot.png" alt="robot" class="template-image">
                        </div>
                    </div>
                    <div class="categories-container-item anim-elem top">
                        <div class="categories-container-item-wrap">
                            <div class="categories-list-container">
                                <ul class="categories-list">
                                    <li class="categories-list-item active" data-content="./Careers/FilterCategory/1">
                                        <span class="list-item-text">
                                            Банкиране на дребно и търговска мрежа
                                        </span>
                                    </li>
                                    <li class="categories-list-item " data-content="./Careers/FilterCategory/2">
                                        <span class="list-item-text">
                                            Комуникации, маркетинг и дигитално банкиране
                                        </span>
                                    </li>
                                    <li class="categories-list-item " data-content="./Careers/FilterCategory/3">
                                        <span class="list-item-text">
                                            Информационни технологии
                                        </span>
                                    </li>
                                    <li class="categories-list-item " data-content="./Careers/FilterCategory/4">
                                        <span class="list-item-text">
                                            Управление на риска
                                        </span>
                                    </li>
                                    <li class="categories-list-item " data-content="./Careers/FilterCategory/5">
                                        <span class="list-item-text">
                                            Право и нормативно съответствие
                                        </span>
                                    </li>
                                    <li class="categories-list-item " data-content="./Careers/FilterCategory/6">
                                        <span class="list-item-text">
                                            Бек офис, организация и администрация
                                        </span>
                                    </li>
                                    <li class="categories-list-item " data-content="./Careers/FilterCategory/7">
                                        <span class="list-item-text">
                                            Корпоративно банкиране
                                        </span>
                                    </li>
                                    <li class="categories-list-item " data-content="./Careers/FilterCategory/8">
                                        <span class="list-item-text">
                                            Финанси и счетоводство
                                        </span>
                                    </li>
                                    <li class="categories-list-item " data-content="./Careers/FilterCategory/9">
                                        <span class="list-item-text">
                                            Други
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="arrows-container">
                                <div class="up-arrow-container">
                                    <button class="up-arrow"></button>
                                </div>
                                <div class="down-arrow-container">
                                    <button class="down-arrow"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- AVAILABLE  JOBS-->
        <div class="career-categories-bottom anim-block">
            <div class="career-main-wrap">
                <div class="available-positions-container" id="available-positions-container">
                </div>
                <div class="item-btn-wrap anim-elem top">
                    <button class="wave-btn scroll-top-btn" data-scroll="career-categories-top">
                        <span class="wave-btn-text">ВЪРНИ СЕ КЪМ КАТЕГОРИИТЕ</span>
                        <span class="wave"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="templete-bottom-section">
        <div class="bg-image" style="background-image:url('./images/test/bottom-bg.jpg')"></div>
    </div>
</div>