<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YngStrs MVC</title>

    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/chatbot.css" />

    <!-- JS Framework Vars -->
    <!-- javascript roots -->
    <script type="text/javascript">
        var _loggedUser = '';
        var _root = './';
        var _root_full = 'http://demo.edesign.bg./';
        var _controller = 'home';
        var _action = 'index';
        var _url_for = 'http://demo.edesign.bg./';
        var _lang = 'bg';
        var _langs = '[{"name":"\u0411\u044a\u043b\u0433\u0430\u0440\u0441\u043a\u0438"}]';
        var _base = 'http://demo.edesign.bg./';
        var _timezone_offset = '3';
        var _botQuestionsUrl = "@Url.Action("Questions", "Chatbot")";
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Open Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i,cyrillic,cyrillic-ext,latin-ext',
                    'Oswald:400,500,cyrillic,cyrillic-ext,latin-ext'
                ]
            }
        });
    </script>
</head>
<body>
    <div id="wrapper" class="wrapper">
        <header id="header" class="header">
            <div class="header-wrap">
                <div class="mobile-menu-row">
                    <div class="mobile-logo-container">
                        <a href="./" class="mobile-logo-link">
                            <img src="~/images/icons/young-logo.svg?v=1" alt="logo" class="template-image">
                        </a>
                    </div>
                    <div class="mobile-menu-container">
                        <div class="mobile-menu-btn-wrap">
                            <button class="menu-btn" id="menu-btn">
                                <span class="lines-wrap">
                                    <span class="line line1"></span>
                                    <span class="line line2"></span>
                                    <span class="line line3"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="header-box">
                    <div class="header-box-inner">
                        <nav class="nav">
                            <ul class="menu menu-left">
                                <li class="menu-item menu-anim-el">
                                    <a asp-controller="PersonalityTest" asp-action="Index" class="menu-link ">Направи тест</a>
                                </li>
                                <li class="menu-item menu-anim-el">
                                    <a asp-controller="Chatbot" asp-action="Index" class="menu-link lc ">RoboStar</a>
                                </li>
                                <li class="menu-item menu-anim-el">
                                    <a asp-controller="Home" asp-action="AboutUs" class="menu-link ">За нас</a>
                                </li>
                            </ul>
                            <h1 class="logo">
                                <a class="logo-link desktop" href="./">
                                    <img src="~/images/icons/young-logo.svg?v=1" alt="Soge young logo">
                                </a>
                            </h1>
                            <ul class="menu menu-right">
                                <li class="menu-item menu-anim-el">
                                    <a href="./articles" class="menu-link ">
                                        <strong>#Нещополезно</strong>
                                    </a>
                                </li>
                                <li class="menu-item menu-anim-el">
                                    <a href="./careers" class="menu-link ">Обяви</a>
                                </li>
                                <li class="menu-item menu-anim-el">
                                    <a asp-controller="Home" asp-action="Contacts" class="menu-link ">Контакти</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="login-container menu-anim-el">
                            <div class="login-container-inner">
                                <div class="login-btn-wrap">
                                    <a href="./users/login" class="login btn">Вход/регистрация</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()

        <footer class="section fp-auto-height">
            <div class="footer">
                <div class="footer-box">
                    <div class="footer-tools cf">
                        <div class="scroll-top">
                            <a href="#home" class="scroll-top-link scroll-top-btn" data-scroll="wrapper">Върни се в началото</a>
                        </div>
                        <div class="footer-content">
                            <div class="footer-logo desktop">
                                <a href="index.php">
                                    <img src="~/images/icons/young-logo.svg?v=1" alt="Soge logo">
                                </a>
                            </div>
                            <div class="footer-menu cf">
                                <ul class="footer-nav">
                                    <li class="footer-item"><a href="./inteview" class="footer-link"><strong>Направи тест</strong></a></li>
                                    <li class="footer-item"><a href="./chatbot" class="footer-link">RoboStar</a></li>
                                    <li class="footer-item"><a href="./articles" class="footer-link"><strong>#НещоПолезно</strong></a></li>
                                </ul>
                                <ul class="footer-nav">
                                    <li class="footer-item"><a href="./careers" class="footer-link">Обяви</a></li>
                                    <li class="footer-item"><a href="./about-us" class="footer-link">За нас</a></li>
                                    <li class="footer-item"><a href="./contacts" class="footer-link">Контакти</a></li>
                                </ul>
                            </div>
                            <div class="footer-login">
                                <a href="./users/login" class="login btn">Вход/регистрация</a>
                            </div>
                            <div class="footer-social">
                                <span class="share-with">Сподели в:</span>
                                <ul class="social-list">
                                    <li class="social-item">
                                        <a href="https://facebook.com" class="social-link social-icon fb" target="_blank"></a>
                                    </li>
                                    <li class="social-item">
                                        <a href="https://instagram.com" class="social-link social-icon instagram" target="_blank"></a>
                                    </li>
                                    <li class="social-item">
                                        <a href="https://twitter.com" class="social-link social-icon tw" target="_blank"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-logo mobile">
                                <a href="./">
                                    <img src="~/images/icons/young-logo.svg?v=1" alt="Soge logo">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-copy-right">
                        <span class="copy-right"> All rights reserved.</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/js/main.js"></script>
    <script src="~/js/chatbot.js"></script>
    <script>
        App.init();
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
