@{
    ViewBag.Title = "Профил";
}

<br /><br /><br /><br />

<section class="about-us-txt-section cl anim-block">
    <div class="about-us-txt-section-inner anim-elem">
        <div class="about-us-col col col-d-50 col-t-100 col-m-100 anim-elem top">
            <div class="about-us-txt-box center">
                <div class="wrap-txt">
                    <h3 class="title-big black">
                        <strong>#</strong>
                        <strong class="red">
                            Ти си ориентиран към действието
                        </strong>
                    </h3>
                    <p class="p-small">
                        Ти си отговорен, директен, нетърпелив да реагираш във всяка ситуация.
                        Гъвкав в постоянно променящата се среда, обичаш резултатите, ясните цели и активното им преследване!
                        Цениш високата производителност и ефективност, отговорност и опит.
                        Действията ти се характеризират с прагматизъм, директност, често провокирайте другите да покажат най-доброто в себе си.
                    </p>
                </div>
            </div>
        </div>
        <div class="about-us-col col col-d-50 col-t-100 col-m-100 cl anim-elem top">
            <div class="about-us-txt-box center">
                <div class="wrap-txt">
                    <h3 class="title-big black">
                        <strong>#</strong>
                        <strong class="red">
                            Ти си ориентиран към идеите
                        </strong>
                    </h3>
                    <p class="p-small">
                        Ти си креативен и носиш духа на иновациите в себе си.
                        Провокираш другите да търсят нови начини за справяне с всеки проблем.
                        Обичаш идеи, концепции, теории и съждения.
                        Хора като теб обичат да се борят с проблеми, да се усъвършенстват,
                        да правят иновации, да търсят алтернативи и да се възползват от нови възможности.
                        Действията им се характеризират с въображение и харизма,
                        но понякога изглеждат високо в облаците и трудно разбираеми.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>