<header id="header" class="header">
    <div class="header-wrap">
        <div class="mobile-menu-row">
            <div class="mobile-logo-container">
                <a href="/git/soge_young/" class="mobile-logo-link">
                    <img src="./images/icons/young-logo.svg?v=1" alt="logo" class="template-image">
                </a>
            </div>
            <div class="mobile-menu-container">
                <div class="mobile-menu-btn-wrap">
                    <button class="menu-btn" id="menu-btn">
                        <span class="lines-wrap">
                            <span class="line line1"></span>
                            <span class="line line2"></span>
                            <span class="line line3"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="header-box">

            <div class="header-box-inner">
                <nav class="nav">
                    <ul class="menu menu-left">
                        <li class="menu-item menu-anim-el"><a href="/git/soge_young/personality-test" class="menu-link ">Направи тест</a></li>
                        <li class="menu-item menu-anim-el"><a href="/git/soge_young/chatbot" class="menu-link lc ">RoboStar</a></li>
                        <li class="menu-item menu-anim-el"><a href="/git/soge_young/about-us" class="menu-link ">За нас</a></li>
                    </ul>
                    <h1 class="logo">
                        <a class="logo-link desktop" href="/git/soge_young/">
                            <img src="./images/icons/young-logo.svg?v=1" alt="Soge young logo">
                        </a>
                    </h1>
                    <ul class="menu menu-right">
                        <li class="menu-item menu-anim-el"><a href="/git/soge_young/articles" class="menu-link active"><strong>#Нещополезно</strong></a></li>
                        <li class="menu-item menu-anim-el"><a href="/git/soge_young/careers" class="menu-link ">Обяви</a></li>
                        <li class="menu-item menu-anim-el"><a href="/git/soge_young/contacts" class="menu-link ">Контакти</a></li>
                    </ul>
                </nav>
                <div class="login-container menu-anim-el">
                    <div class="login-container-inner">

                        <div class="login-btn-wrap">
                            <a href="/git/soge_young/users/login" class="login btn">Вход/регистрация</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</header>

<div class="total-wrap-content">
    <div class="news-details-top anim-block">
        <section class="contact-header-section section-header">
            <div class="section-header-box center">
                <div class="section-header-txt anim-elem top done">
                    <h2 class="title-big black">
                        Банка ДСК и Експресбанк с най-голямата клонова мрежа в страната
                    </h2>
                </div>
                <div class="section-header-img-box">
                    <img class="responsive b-lazy b-loaded" src="./images/news/news-header.jpg" alt="Contact image image">
                </div>
            </div>
        </section>

        <article class="news-details article anim-elem top done">

            <p>Чрез сливането ще бъде предложена най-голямата клонова мрежа в страната по брой обекти и банкомати. Подобряване ефективността и възвръщаемостта е целевият ефект на консолидацията на Банка ДСК и Societe Generale Експресбанк. Това ще доведе до възможности за нови инвестиции и подобряване на предлаганите продукти и услуги, обяви пред Радио "Фокус" главният изпълнителен директор на Банка ДСК&nbsp;Виолина Маринова. Именно тя ще ръководи процеса&nbsp;по сливането на двете банки.</p>
            <p>Както "БАНКЕРЪ" вече писа, преди почти месец унгарската "Банка ОТП" приключи чрез своята дъщерна "Банка ДСК"&nbsp; сделката по придобиването на 99.74%&nbsp; от капитала на&nbsp; "Сосиете Женерал Експресбанк".</p>
            <p>Процесът на&nbsp; консолидацията&nbsp;ще продължи до 2020 година. В това време "Банка ДСК" и "Сосиете Женерал Експресбанк" ще продължат да извършват своята оперативна дейност като две отделни юридически лица. До приключването на "операцията"&nbsp;"Сосиете Женерал Експресбанк" ще работи под името и търговската марка Експресбанк.</p>
            <div class="article-slider">
                <!-- Slider -->
                <div id="articleSlider" class="swiper-container slider-swipper articleSlider swiper-container-fade swiper-container-horizontal swiper-container-wp8-horizontal" data-effect="'fade'" data-speed="500" data-items="1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide active" style="width: 654px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                            <img src="http://demo.edesign.bg/git/soge_young/attachments/Article/6/gallery/banker_thumb-inner.jpg" alt="Gallery image 1">
                        </div>
                    </div>
                    <!-- Arrows -->
                    <div class="swipper-button-box">
                        <div class="swiper-button-next swiper-button-disabled"></div>
                        <div class="swiper-button-prev swiper-button-disabled"></div>
                    </div>
                </div>
            </div>
            <p>Унгарската финансова група ще продължи агресивната си стратегия на експанзия в Централна и Източна Европа и през тази година. ОТП&nbsp;работи по придобиването на банки в Албания, в Сърбия и в Словения.</p>
            <p>В сряда (6 февруари) бе съобщено, че&nbsp;Societe Generale и ОТП са постигнали сделка за молдовската&nbsp;Mobiasbanca. Френската група ще завърши продажбата на молдовски трезор в следващите няколко месеца.&nbsp;</p>

            <div class="article-btn-box btn-box center">
                <a href="/git/soge_young/articles" class="btn-mid btn-transparentGrey">Обратно към всички</a>
            </div>

        </article>
    </div>

    <section class="related-news-section anim-block">
        <div class="related-news-section-box cf anim-elem top">
            <a href="/git/soge_young/articles/angelite-na-inovatsiite" class="related-news-item col col-d-33 col-t-100 col-m-100 news-item-txt-box prel">
                <div class="related-news-overlay">
                    <img src="http://demo.edesign.bg/git/soge_young/attachments/Article/2/main/login-step1_thumb-list.jpg" alt="Проектът <strong class=" red "=" ">#YOUNGstars стартира" &gt;
                </div>
                <div class="news-item-txt white-box center transparent">
                    <div class="addition-txt-box">
                        <span class="p-huge darkGrey addition-txt">Прочети</span>
                    </div>
                    <div class="wrap-txt">
                        <h3 class="p-large medium black">
                            Проектът <strong class="red">
                                #YOUNGstars
                                стартира
                            </strong>
                        </h3>
                        <div class="curve-box">
                            <button class="curve black semi-bold">Към статията</button>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/git/soge_young/articles/angeli-na-inovatsiite" class="related-news-item col col-d-33 col-t-100 col-m-100 news-item-txt-box prel">
                <div class="related-news-overlay">
                    <img src="http://demo.edesign.bg/git/soge_young/attachments/Article/1/main/login-step1_thumb-list.jpg" alt="Ангели на <strong class=" red "=" ">иновациите <br>" &gt;
                </div>
                <div class="news-item-txt white-box center transparent">
                    <div class="addition-txt-box">
                        <span class="p-huge darkGrey addition-txt">Прочети</span>
                    </div>
                    <div class="wrap-txt">
                        <h3 class="p-large medium black">
                            Ангели на <strong class="red">иновациите <br></strong>
                        </h3>
                        <div class="curve-box">
                            <button class="curve black semi-bold">Към статията</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>
</div>