@{
    ViewData["Title"] = "Robostar";
}

<div class="total-wrap-content">
    <div class="robot-intro-section">
        <div class="career-intro-section">
            <div class="bg-image" style="background-image:url('./images/career/intro-bg.jpg')"></div>
            <div class="career-main-wrap">
                <div class="intro-box-outer anim-block">
                    <div class="intro-box anim-elem top-visibility">
                        <div class="intro-box-wrap">
                            <div class="intro-box-title-wrap">
                                <h1 class="intro-title">Една <strong>#футуристична</strong> среща</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- JOBS CATEGORIES-->
        <div class="career-categories-section">
            <div class="robot-grid">
                <div class="career-main-wrap">
                    <div class="categories-grid anim-block	">
                        <div class="categories-image-item">
                            <div class="categories-robot anim-elem top delay-03">
                                <img src="~/images/career/intro-robot.png" alt="robot" class="template-image">
                                <div class="speech-bubble anim-elem	delay-09">
                                    <div class="speech-bubble-inner">
                                        <div class="speech-bubble-bg">
                                            <img src="~/images/career/bubble.png" alt="bubble" class="template-image">
                                        </div>
                                        <div class="speech-bubble-text-wrap">
                                            <span class="speech-bubble-text">Здравей!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="categories-container-item anim-elem	top">
                            <div class="categories-container-item-wrap">
                                <div class="robot-text-item">
                                    <div class="robot-text-title-wrap">
                                        <h4 class="robot-text-title">
                                            Запознай се с #ROBOstar
                                        </h4>
                                    </div>
                                    <div class="robot-text-content">
                                        <p>
                                            Описва себе си като умен, чаровен и забавен. #RoboStar е чатбот, който провежда интервюта за работа. Разговорът с него ще те подготви за реална среща с работодател.
                                        </p>
                                    </div>
                                    <div class="robot-btn-wrap">
                                        <a href="" class="btn-mid btn-gray" id="start-chatbot" data-title="Бъди <strong>#искрен</strong>">ЗАПОЧНИ ИНТЕРВЮТО</a>
                                    </div>
                                </div>
                                <div class="chatbot-page" id="chatbot-page">
                                    <div class="soge-young-chatbot" data-url="./chatbot/save_results">
                                        <div class="soge-question"><div></div></div>
                                        <div class="soge-answer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="templete-bottom-section">
            <div class="bg-image" style="background-image:url('./images/test/bottom-bg.jpg')"></div>
        </div>

    </div>
</div>
